<%- include ("../partials/html-head") %>
  <%- include("../partials/nav") %>
    <main>
      <h1> Available Flights as of <%= time %>
      </h1>
      <table>
        <thead>
          <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% flight.forEach(f=> { %>
            <tr>
              <td><%= f.airline %></td>
              <td><%= f.airport %></td>
              <td>
                <a href="/flights/<%= f._id %>">DETAILS</a>
              <td>
                <form action='/flights/<%= f._id %>?_method=DELETE' method='POST'>
                  <button>X</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </main>
    <%- include("../partials/footer") %>